*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fcfbf4;
  background-color: #fff;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  padding: 1rem;
  background: url("../images/numbers.jpg") no-repeat center/cover;
}
h1 {
  text-align: center;
  padding-top: 4rem;
  margin-bottom: 8rem;
  font-size: 3.5rem;
  color: #203354;
}
#form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  width: 75vw;
  max-width: 100%;
  margin: 2rem auto;
  padding: 2.5rem;
  gap: 2rem;
  border-radius: 1rem;
  border: none;
}
.inputGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
#number {
  width: 75%;
  font-size: 1.6rem;
  background: #fff;
}
#number::placeholder {
  font-style: italic;
  font-size: 1.4rem;
  color: #203354;
}
#number,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
}
button {
  width: 25%;
  font-size: 1.6rem;
  color: white;
}
button:hover {
  cursor: pointer;
}
#guess {
  background-color: #203354;
}
#reset {
  background-color: #f67280;
}
span {
  font-size: 1.5rem;
  color: #b30000;
}
#instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;
  font-size: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  gap: 1.5rem;
}
.instruction {
  width: 100%;
  min-height: 4.5rem;
  display: flex;
  align-items: center;
  color: #203354;
  font-weight: bold;
  border-radius: 1rem;
  padding-left: 1rem;
}
.less {
  background-color: #ffa372;
}
.more {
  background-color: #f67280;
}
.correct {
  background-color: #a9e3ce;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 10vh;
  background-color: #203354;
  padding: 2rem 1rem;
}
footer a {
  margin-top: 0.5rem;
  color: white;
  text-decoration: none;
}
footer p,
.year {
  color: white;
  font-size: 1.6rem;
}

/*! MEDIA QUERIES */
@media screen and (max-width: 766px) {
  h1 {
    font-size: 3rem;
  }
  #form {
    width: 92vw;
    padding: 1.5rem;
  }
  .inputGroup {
    flex-direction: column;
  }
  #number,
  button {
    width: 100%;
  }
  #instructions {
    width: 92vw;
  }
}
@media screen and (max-width: 450px) {
  footer {
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  #number::placeholder {
    font-size: 1.23rem;
  }
}
